<footer>
    <div class="social">
        {%- for link in config.extra.social.link -%}
        <a rel="me" href="{{link.url}}"><div><img alt="{{link.name}}" class="icon" src="{{link.img}}"/> <span>{{link.name}}</span></div></a>
        {% endfor -%}
    </div>

    <div>
        <div>{{i::place(color="white", size="20px")}} Brassac, Castres, Mazamet, Tarn</div>
    </div>

    <div>
        {% for link in config.extra.footer.links %}
            {#- hack to get page or section #}
            {%- if link is ending_with("_index.md") -%}
            {%- set s = get_section(path=link) -%}
                <div><a href="{{ s.permalink }}">{{s.title}}</a></div>
            {%- else -%}
            {%- set p = get_page(path=link) -%}
                <div><a href="{{ p.permalink }}">{{p.title}}</a></div>
            {%- endif -%}
        {% endfor %}
    </div>

    <div>
        <p>Website fabriqué avec <a href="https://www.getzola.org/">Zola</a> et <a href="https://git.42l.fr/HugoTrentesaux">seagull theme</a></p>
        <p>© Contenu sous licence <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA</a></p>
    </div>
</footer>